<ion-view hide-nav-bar="true">
  <ion-content class="background-image">
    <ion-list>
        <div class="row homeContents">
          <div class="col col-25">
          </div>
          <div class="col col-50">
              <img ng-src="img/logo.png" class="homelogo"/>
              <img ng-src="img/order.png" class="homebuttons" ng-click="orderNow()"/>
              <img ng-src="img/export-logs.png" class="homebuttons"/>
          </div>
          <div class="col col-25">
          </div>
        </div>
    </ion-list>
  </ion-content>
</ion-view>

